<footer class="footer">
    <div class="footerSMR">
      <h6 id="datosEntidad" align="center"><b>Calificación de Materias</b></h6>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h6 id="datosEntidad" class="datosEntidad" align="center">Universidad Catolica de Oriente</h6>
        </div>
        <div class="col-md-3">
          <p id="datosSAIMYR" align="center"><small>Diseñado por Mateo Peláez Marín Todos los derechos reservados.</small></p>
        </div>
      </div>
      <div class="underline"></div>
    </div>
</footer>