<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="./" class="navbar-brand">Calificaciones</a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li >
            <a href="#basic" >Home <b class="caret"></b></a>
          </li>
          <li>
            <a href="#academico">Calificaciones</a>
          </li> 
          <li>
            <a href="#">Descripción</a>
          </li>
          <li class="active">
            <a href="#">Mas info</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>